<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	    xsi:schemaLocation="http://www.springframework.org/schema/beans 
	    https://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/aop 
	    https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
	    https://www.springframework.org/schema/tx/spring-tx.xsd">
	    
	    <!-- 配置数据源 bean -->
	    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	    	<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	    	<property name="url" value="jdbc:mysql://localhost:3306/test"></property>
	    	<property name="username" value="root"></property>
	    	<property name="password" value="123456"></property>
	    </bean>
	    
	    <!-- 配置工厂 bean -->
	    <bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
	    	<property name="dataSource" ref="dataSource"></property>
	    </bean>
	    
	    <!-- 配置 mapper 扫描 bean -->
	    <bean id="mapper" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	    	<property name="sqlSessionFactory" ref="factory"></property>
	    	<property name="basePackage" value="com.zcx.mapper"></property>
	    </bean>
	    
	    <!-- 配置服务层  bean 对象 -->
	    <bean id="userService" class="com.zcx.service.impl.UserServiceImpl">
	    	<property name="mapper" ref="userMapper"></property>
	    </bean>
	    
	    <!-- 配置事务管理 bean，相当于自己声明的通知 bean -->
	    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	    	<property name="dataSource" ref="dataSource"></property>
	    </bean>
	    
	    <!-- 配置事务管理方法 :
	    	对 Dao 层的代码进行事务管理
	    -->
	    <tx:advice id="td" transaction-manager="transactionManager">
	    	<tx:attributes>
	    		<tx:method name="ins*"/>
	    		<tx:method name="up*"/>
	    		<tx:method name="sel*" read-only="true"/>
	    		<tx:method name="del*"/>
	    	</tx:attributes>
	    </tx:advice>
	    
	    <!-- 配置 AOP 切面 -->
	    <aop:config>
	    	<aop:pointcut expression="excution(* com.*.service.impl.*.*(..))" id="mp"></aop:pointcut>
	    </aop:config>
	    
</beans>